/* Base dark mode filter */
html
{
	filter: invert(1) hue-rotate(180deg) !important;
	background: white;
}

img,
video,
trk-shared-icon > svg > use,
header > nav
{
	filter: invert(1) hue-rotate(180deg) !important;
}

.up-deals-img,
.up-deals,
.tracklist-details > .yqcr-action > .hidden-xs > .up-deals,
.chart-gpt-text,
.chart-gpt-icon
{
	display: none;
}